.animation {
  animation: 20s linear infinite defilement;
}

@keyframes defilement {
  from {
    right: -336px;
  }
  to {
    right: 336px;
  }
}

.animationb {
  animation: 20s linear infinite defilementb;
}

@keyframes defilementb {
  from {
    right: 336px;
  }
  to {
    right: -336px;
  }
}
.bghover {
  background-color: #f0f1ffec;
}

@media (prefers-color-scheme: dark) {
  .bghover {
    background-color: rgba(51, 41, 126, 0.8);
    text-shadow:
      0px 2px 5px black,
      0px 0px 10px black,
      0px 0px 10px black;
  }
}
